---
import CardSection from "../components/CardSection.astro";
import Section from "../components/Section.astro";
import Layot from "../layouts/Layot.astro";
import Card from "../components/Card.astro";
import FotoGallery from "../components/FotoGallery.astro";
---

<Layot>
	<div class="flex justify-center">
		<div class="rounded-full bg-linear-to-b from-white to-amber-50 p-6">
			<div class="rounded-full bg-linear-to-b from-white to-amber-200">
				<img src="/favicon.png" class="md:max-w-3xs max-w-50" />
			</div>
		</div>
	</div>
	<h1 class="text-center text-2xl m-6">Dalarnas Botaniska Förenening</h1>
	<FotoGallery
		urls={[
			"/image/galleries/smallvedel_01.jpg",
			"/image/galleries/smallvedel_02.jpg",
			"/image/galleries/smallvedel_03.jpg",
			"/image/galleries/smallvedel_04.jpg",
			"/image/galleries/smallvedel_05.jpg",
		]}
	/>
</Layot>
