---
import CardSection from "../components/CardSection.astro";
import Section from "../components/Section.astro";
import Layot from "../layouts/Layot.astro";
import Card from "../components/Card.astro";
import FotoGallery from "../components/FotoGallery.astro";
---

<Layot>
	<div class="flex justify-center">
		<div class="rounded-full bg-linear-to-b from-white to-amber-50 p-6">
			<div class="rounded-full bg-linear-to-b from-white to-amber-200">
				<img src="/favicon.png" class="md:max-w-3xs max-w-50" />
			</div>
		</div>
	</div>
	<h1 class="text-center text-2xl m-6">Dalarnas Botaniska Sällskap</h1>
	<FotoGallery
		images={[
			{
				url: "/image/flowers/smallvedel_01.jpg",
				description: "Smällvedel",
			},
			{
				url: "/image/flowers/smallvedel_02.jpg",
				description: "Smällvedel",
			},
			{
				url: "/image/flowers/smallvedel_03.jpg",
				description: "Smällvedel",
			},
			{
				url: "/image/flowers/smallvedel_04.jpg",
				description: "Smällvedel",
			},
			{
				url: "/image/flowers/smallvedel_05.jpg",
				description: "Smällvedel",
			},
			{
				url: "/image/flowers/majviva.jpg",
				description: "Majviva",
			},
			{
				url: "/image/flowers/kung_karls_spira_02.jpg",
				description: "Kung karls spira",
			},
			{
				url: "/image/flowers/skogsklocka.jpg",
				description: "Skogsklocka",
			},
		]}
	/>
</Layot>
