---
const { cardTitle } = Astro.props;
---

<div class="dark:bg-olive-500 bg-olive-300 pt-12 p-4">
    {cardTitle && <h2 class="text-xl text-center mb-12">{cardTitle}</h2>}
    <div class="w-full flex justify-center">
        <div
            class="grid gap-4 md:grid-cols-3 md:gap-5 max-w-7xl w-full place-content-between"
        >
            <slot />
        </div>
    </div>
</div>
