---
---

<footer
    class="bg-red-100 w-full pt-12 pb-12 p-4 mt-12 flex justify-center items-end h-l"
>
    <div
        class="flex gap-4 md:grid-cols-3 md:gap-5 max-w-7xl w-full items-end justify-between"
    >
        <a href="/trollius" class="flex-none">
            <img src="/image/trollblomma.gif" class="h-auto w-24" />
            <img src="/image/trolltext.gif" class="h-auto w-24" />
        </a>
        <a href="/contact" class="flex-none"> Kontakta oss</a>
        <a href="/artindex" class="flex-none grid justify-items-center">
            Social media
            <img
                src="image/Facebook_Logo_Primary.png"
                class="h-auto w-8 m-2"
            />
        </a>
    </div>
</footer>
