---
import Foto from "./Foto.astro";
interface Props {
    images: Array<{
        url: string;
        description: string;
    }>;
}
const { images } = Astro.props;
---

<ul
    class="flex justify-center-safe foto-container max-w-full overflow-hidden mt-4 mb-12"
>
    {
        images.map((image) => (
            <li class="flex-none flex place-items-center flex-col">
                <Foto url={image.url} alt={image.description} />
                {image.description}
            </li>
        ))
    }
</ul>
<script>
    setInterval(cycleThrough, 10000);
    const fotoContainers = document.getElementsByClassName("foto-container");

    function cycleThrough() {
        for (let i = 0; i < fotoContainers.length; i++) {
            let fotoContainer = fotoContainers.item(i);
            if (fotoContainer == null) {
                continue;
            }
            let firstChild = fotoContainer.firstChild;
            if (firstChild == null) {
                continue;
            }
            fotoContainer.removeChild(firstChild);
            fotoContainer.appendChild(firstChild);
        }
    }
</script>
