---
---

<header>
    <nav class="dark:bg-olive-600 *:dark:text-white bg-olive-400">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
            <div class="relative flex h-16 items-center justify-between">
                <div
                    class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
                >
                    <h2>
                        <a href="/"
                            ><img
                                src="/favicon.png"
                                alt="DABS ikon"
                                class="h-12 w-auto"
                            />
                        </a>
                    </h2>
                    <div class="hidden sm:ml-6 sm:block">
                        <div class="flex space-x-4">
                            <div><a href="/annan-sida">Annan sida</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
